body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Header and hero banner */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 0 200px;
    height: 64px;
}

a, .heroSecondaryText, .imagePlaceholder, .heroSignUpButton {
    color: #e5e7eb;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 32px;
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: 18px;
}

.logoText {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.heroBanner {
    padding: 0 200px;
    background-color: #1f2937;
    height: 500px;
    display: flex;
    align-items: center;
    gap: 64px;
}

.heroBannerWrapperLeft {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.heroMainText {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.heroSecondaryText {
    font-size: 18px;
}

.heroSignUpButton {
    border: none;
    border-radius: 6px;
    background-color: #3883f6;
    width: 128px;
    height: 32px;
    font-size: 18px;
    font-weight: 600;
}

.imagePlaceholder {
    width: 550px;
    height: 300px;
    background-color: #80898f;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: none;
}
